@import url(css/nullstyle.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E7F7F4;
}

.wrapper {
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}

.main__content {
    min-height: 100vh;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left__section {
    grid-column: span 2;
    height: 100%;
    background-color: #2B2741;
}

.left__container {
    padding: 1rem 1rem;
    }

.right__section {
    grid-column: span 5;
    height: 100%;
    background-color: white;
}

.left__profile {
    color: whitesmoke;
    width: 100%;
}

.left__img {
    text-align: center;
}

.left__img > img{
    width: 90%;
    border-radius: 50%;
    border: 8px solid #f7f7f7;
}

.left__name {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.5em;
    letter-spacing: 0.1em;
}

.left__name > span {
    font-size: 1.2em;
}

.left__career {
    font-size: 1em;
    text-align: center;
    margin-top: 0.5em;
}

.left__main-title{
    text-align: center;
}
.left__contacts ul {
    padding: 0;
    margin: 5em 0;
}

.left__contacts ul li {
    font-size: 1em;
    font-weight: 100;
    list-style-type: none;
    line-height: 1.5em;
}

.left__contacts i {
    margin-right: 0.5em;
    width: 16px;
}

.right__section i {
    margin-right: 1em;
    width: 16px;
}

.right__section {
    color: #2B2741;
}

.right__container {
    margin: 0 16px;
}

.right__qualifications table {
    width: 100%;
    margin: 0 auto;
    /* border: 1px dotted #2B2741; */
}   

.right__qualifications thead {
    background-color: beige;
    width: 100%;
}

.right__qualifications table td {
    text-align: center;
    /* border-top: 1px dotted #2B2741; */
} 

.right__IT table {
    width: 100%;
    margin: 0 auto;
    /* border: 1px dotted #2B2741; */
}   

.right__IT thead {
    background-color: beige;
    width: 100%;
}

.right__IT table td {
    text-align: center;
    /* border-top: 1px dotted #2B2741; */
}

footer {
    /* height: 50px; */
    text-align: center;
    padding: 10px 0;
    background-color: beige;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer .github {
    margin-left: 10px;
}

footer a {
    text-decoration: none;
    color: #2B2741;
}

footer a i {
    margin-right: 0.5em;
}

footer img {
    width: 50px;
}

footer .rss-logo {
    margin-right: 10px;
}