@import url(css/nullstyle.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.content {
	max-width: 900px;
    margin: 0px auto;
	}